<div class="col-lg-12">
  <div class="jumbotron">
    <h1>Play Quizzes
      <small>for free</small>
    </h1>

    <% unless current_user %>
        <p><%= link_to 'Sign up', new_user_registration_path %> to build your own</p>
    <% end %>
  </div>

  <div class="row">
    <% Quiz.all.each do |quiz| %>
        <div class="col-lg-4">
          <div class="jumbotron">
            <%= quiz.title %>
            <%= quiz.description %>
            <br>
            <%= link_to 'Play', play_path(quiz), class: 'btn btn-primary', data: {turbolinks: false} %>
          </div>
        </div>
    <% end %>
  </div>
</div>
