<div class="col-lg-12">
  <div class="jumbotron">
    <h1>Quizzes</h1>
  </div>
</div>

<% Quiz.all.each do |quiz| %>
    <div class="col-lg-4">
      <div class="jumbotron">
        <h3><%= quiz.title %></h3>
        <h6><%= quiz.description %></h6>
        <%= link_to 'Play', play_path(quiz), class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
